a.btn {
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
    &:hover {
        box-shadow: $sahdow-full;
        cursor: pointer;
    }
}

.btn-round {
    padding: 12px 16px;
    border-radius: 100px;
    appearance: none;
    border: none;
    &:hover {
        box-shadow: $sahdow-full;
        cursor: pointer;
    }
    i {
        color: $primary-color;
        background-color: $secondary-color;
        font-size: 10px;
        //Dessa margin-stylings är för att se till så att knappen behåller samma höjd även o mden har en <i> i sig eller inte.
        margin-left: 5px;
        margin-right: -5px;
        margin-top: -5px;
        margin-bottom: -5px;
        padding: 5px;
        border-radius: 5px;
    }
}