@using RikaWebApp.Models.AuthModels;

@model BasicLoggedInUser;

@{
    ViewData["Title"] = "Rika";
}

<a asp-action="SignUpView" asp-controller="SignUp">Sign Up</a>

<a asp-action="SignInView" asp-controller="SignIn">Sign in</a>

