@using RikaWebApp.Helpers
@using RikaWebApp.Models.AuthModels

@{
    ViewData["Title"] = "Rika";
    var token = GetCookieInfoHelper.JwtTokenToBasicLoggedInUserModel(Context);
}

<header class="container ">
    <div class=" header-content">
        @if (token != null)
        {
            <div class="nav-btn">
                <a class="auth-nav" asp-action="LogOut" asp-controller="SignOut">Sign Out</a>
            </div>

            <a class="profile-image" asp-action="Details" asp-controller="ProfileMinePage">
                <img style="max-width: 40px; margin-top: 1rem;" src="@token.ImageUrl" alt="onboarding">
            </a>
        }
        else
        {
            <a class="profile-image" asp-action="Index" asp-controller="Onboarding">
                <i style="font-size: 2rem; color: black; margin-top: 1rem;" class="fa-solid fa-right-to-bracket"></i>
            </a>
        }
    </div>
</header>
@if (TempData["LogOut"] != null)
{
    <div style="text-align: center;">
        <p><strong>@TempData["LogOut"]</strong></p>
    </div>
}