<footer>
    <div class="container">
        <div id="nav-menu">
            <nav>

                <a class="home link" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>

                <div class="nav-icons link">
                    <a class=" cart-icon" asp-controller="Cart" asp-action="Index">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Cart</span>


                    </a>
                    <a class="link" asp-controller="Notification" asp-action="Index">
                        <i class="fa-solid fa-bell"></i>
                        <span>Notifications</span>
                    </a>
                    <a class="link" asp-controller="Profile" asp-action="Index">
                        <i class="fa-regular fa-user"></i>
                        <span>Profile</span>
                    </a>

                </div>
            </nav>
        </div>
    </div>
</footer>'