@using RikaWebApp.ViewModels
@model ProfileUpdateViewModel

<section id="profile-details">
    <div class="container">
        <div class="user-info">
            <form method="post" asp-controller="ProfileMinePage" asp-action="Details" class="mt-4" novalidate>
                <div class="col-md-6">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Address" class="form-label"></label>
                    <input asp-for="Address" type="text" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" type="text" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="PostalCode" class="form-label"></label>
                    <input asp-for="PostalCode" type="text" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Country" class="form-label"></label>
                    <input asp-for="Country" type="text" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>

                @* <div class="col-md-6">
                    <label asp-for="Age" class="form-label"></label>
                    <input asp-for="Age" type="text" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div> *@

                <div class="col-md-6">
                    <label asp-for="ImageUrl" class="form-label"></label>
                    <input asp-for="ImageUrl" type="url" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="col-12 mb-5">
                    <button type="submit" class="btn btn-dark mt-4">Save changes</button>
                </div>
            </form>

            <form asp-action="DeleteAccount" asp-controller="ProfileMinePage" method="post" style="margin-bottom:5rem">
                <button type="submit" class="btn btn-danger mb-5">Delete Account</button>
            </form>
        </div>
    </div>
</section>