#contact-us-page {
  main {
    #contact-us-section {
      padding: 3rem 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        text-align: center;
      }

      .faq-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;

        #faq-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .faq-group {
            display: flex;
            flex-direction: column;
            gap: .25rem;
          }
        }
      }

      .contact-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
      }
    
      form {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .service-group {
          position: relative;

          .dropbtn {
            display: block;
            margin-top: 0;
            width: 100%;
            padding: 0.5rem 1rem;
            background-color: inherit;
            border-radius: 8px;
            border: solid 1.5px gray;
            appearance: none; 
          }
        }

        .message-group {
          textarea {
            width: 100%;
            height: 150px;
          }
        }

        .checkbox-group {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
}
