﻿<section class="welcome">
    <div class="container">
      
            


        <div class="content" >
            <a class="text-content logo-content">
                <img src="https://storagerika.blob.core.windows.net/files/logo_white.png" alt="user">
            </a>

            <div style="text-align:center">
              
                <a class="btn-round btn-sign-in"   asp-action="SignInView" asp-controller="SignIn">Sign in</a>
               
                <a class="btn-round btn-sign-up"  asp-action="SignUpView" asp-controller="SignUp">Sign Up</a>




                <form  asp-action="Index" asp-controller="Home" >

                    <button type="submit" class="btn-round btn-galery">Gallery</button>

                </form>

                
            </div>
        </div>







    </div>
</section>