﻿<section class="welcome">
    <div class="container">


        <div class="content">
            <a class="a-content" id="onboard-btn">
                <img src="https://storagerika.blob.core.windows.net/files/logo_white.png" alt="onboarding">
            </a>
        </div>

       


        <div class="content" >
           @*  <div class="content" style="display: none;"> *@

            <a class="text-content logo-content">
                <img src="https://storagerika.blob.core.windows.net/files/logo_white.png" alt="onboarding">
            </a>

            <div style="text-align:center">

                <form id="RegisterForm" asp-action="SignIn" asp-controller="SignIn" method="post" novalidate>

                    <button type="submit" class="btn-round btn-sign-in">Login</button>

                </form>

                <form id="RegisterForm" asp-action="SignUp" asp-controller="SignUp" method="post" novalidate>

                    <button type="submit" class="btn-round btn-sign-up">Sign Up</button>

                </form>
            </div>
        </div>







    </div>
</section>

