@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <div class="header-container">
        <div class="header-item is-inactive">
            <a asp-controller="Home" asp-action="Index" class="a-link-is-inactive"><i class="fa-solid fa-house"></i></a>
            <span class="" hidden>Home</span>
        </div>
        <div class="header-item is-inactive">
            <a asp-controller="/" asp-action="/" class="a-link-is-inactive"><i class="fa-solid fa-cart-shopping"></i></a>
            <span class="" hidden>Cart</span>
        </div>
        <div class="header-item is-inactive">
            <a asp-controller="/" asp-action="/" class="a-link-is-inactive"><i class="fa-solid fa-bell"></i></a>
            <span class="" hidden>Notifictions</span>
        </div>
        <div class="header-item is-inactive">
            <a asp-controller="/" asp-action="/" class="a-link-is-inactive"><i class="fa-solid fa-user"></i></a>
            <span class="" hidden>Profile</span>
        </div>
    </div>
</header>

<script>
    const headerItems = document.querySelectorAll('.header-item');

    headerItems.forEach(item => {
    const link = item.querySelector('a');
    const span = item.querySelector('span');

    if(link.getAttribute("href") === window.location.pathname.split("/").pop())
    {
        item.classList.remove("is-inactive");
        item.classList.add("is-active");
        link.classList.remove("a-link-is-inactive");
        link.classList.add("a-link-is-active");
        span.removeAttribute("hidden");
        span.classList.add("span-is-active");
    }
    });
</script>
