.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height:100vh;

/*  @media (min-width: 992px) {
    grid-template-columns: 1fr auto;
  }*/
}

.flex {
    display: flex;
  }

  .d-none {
    display: none;
  }
  
  .d-block {
    display: block;
  }

  .d-grid {
    display: grid;
  }
  
  .d-inline-block {
    display: inline-block;
  }
  
  .padding-sm {
    padding: 8px;
  }

  .padding-m {
    padding: 16px;
  }
  
  .padding-lg {
    padding: 24px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }

  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }

  .border-black {
    border: 1px solid black;
  }
  
  .border-white {
    border: 1px solid white;
  }

  .border-grey {
    border: 1px solid grey;
  }

  .border-radius {
    border-radius: 4px;
  }
  
  .border-none {
    border: none;
  }