<section id="success">
    <div class="container">
        <i class="fa-regular fa-circle-check check-mark"></i>
        <div class="title">
            <h2>Successful!</h2>
            <p>You have successfully registered in our app and start working in it.</p>
        </div>
        <a class="btn-round">Log in</a>
    </div>
</section>
