<section id="register">
    <div class="container register-container">
        <div class="title">
            <img src="/iamges/rika_logo_dark.svg" alt="">
        </div>
        <div class="sign-up-title">
            <h3>Sign up</h3>
            <p>Create a new account</p>
        </div>
        <div class="form">
            <form action="">
                <div class="input-group">
                    <label for="">User Name</label>
                    <input type="text">
                    <span class="error-message">error error error</span>
                </div>

                <div class="input-group">
                    <label for="">Email</label>
                    <input type="email">
                    <span class="error-message">error error error</span>
                </div>

                <div class="input-group">
                    <label for="">Password</label>
                    <div class="input-and-eye">
                        <input type="password">
                        <div class="eye">
                            <i class="fa-solid fa-eye-slash"></i>
                            <i style="display: none;" class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                    <span class="error-message">error error error</span>
                </div>

                <div class="input-group">
                    <label for="">Confirm Password</label>
                    <div class="input-and-eye">
                        <input type="password">
                        <div class="eye">
                            <i class="fa-solid fa-eye-slash"></i>
                            <i style="display: none;" class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                    <span class="error-message">error error error</span>
                </div>
                
                <div class="checkbox-and-text">
                    <input type="checkbox" name="" id="">
                    <p>By creating an account you have to agree with our terms & conditions.</p>
                </div>
                <button type="submit" class="btn-round btn-sign-up" href="">Register</button>
            </form>
        </div>
    </div>
</section>


