.error {
    color: red;
}

.product-details {
    .container {
        .back-icon {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1.5rem;
                left: 1rem;
                z-index: 10;
                background-color: $primary-color;
                border-radius: 50%;
                padding: .5rem;
                width: 2rem;
                height: 2rem;
                text-decoration: none;

                i {
                    font-size: 1rem;
                    color: $secondary-color;
                }

                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                    transition: ease-in-out .2s;
                }
            }
        }

        .shop-icon {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1.5rem;
                right: 1rem;
                z-index: 10;
                background-color: $secondary-color;
                border-radius: 50%;
                padding: .5rem;
                width: 2rem;
                height: 2rem;

                i {
                    font-size: 1rem;
                    color: $primary-color;
                }
            }
        }

        .product-image {
            position: relative;
            /*border: solid green 1px;*/
            width: 100vw;
            margin-left: calc(50% - 50vw);
            overflow: hidden;
            margin-bottom: 1rem;

            .carousel {
                .carousel-indicators {
                    border: none;

                    ul {
                        /*list-style: none;*/
                    }

                    li {
                        /*border-radius: 50%;*/
                        list-style: none;
                    }
                }

                .carousel-inner {
                    /*display: flex;*/
                    /*justify-content: center;*/

                    .carousel-item {
                        img {
                        }
                    }
                }

                .carousel-control-prev {
                    .carousel-control-prev-icon {
                        background-color: gray;
                    }

                    .sr-only {
                    }
                }

                .carousel-control-next {
                    .carousel-control-next-icon {
                        background-color: gray;
                    }

                    .sr-only {
                    }
                }
            }
        }

        .product-detail-content {
            /*display: flex;*/
            /*border: solid red 1px;*/
            /*            align-content: center;
            justify-content: center;*/

            .header {
                display: flex;
                position: relative;
                justify-content: space-between;
                /*border: solid red 1px;*/

                .header-text {

                    h6 {
                        /*font-size: 1rem;*/
                        margin-bottom: .2rem;
                        font-weight: 700;
                    }

                    p {
                        color: gray;
                        font-size: .8rem;
                        margin-top: 0;
                    }

                    .rating {
                        display: flex;
                        align-content: center;
                        align-items: center;
                        font-size: .6rem;

                        .fa-star {
                            font-size: .6rem;
                            color: gold;
                        }

                        .review-link {
                            color: $primary-color;
                            text-decoration: none;
                            font-size: .6rem;
                            margin-left: .2rem;

                            &:hover {
                                color: $accent-color;
                            }
                        }
                    }
                }

                .counter {
                    /*border: solid red 1px;*/
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    /*justify-content: center;*/
                    align-items: center;

                    .input-group {
                        overflow: hidden;
                        border-radius: 18px;
                        width: 90%;


                        button, input {
                            text-align: center;
                            background-color: lightgray;
                            border: none;
                            color: $primary-color;
                            font-size: .8rem;
                        }

                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        input {
                            text-align: center;
                            padding: 0;
                        }
                    }

                    .stock {
                        font-size: .8rem;
                        font-weight: 500;
                        text-align: center;

                        span {
                        }
                    }
                }

                .heart-icon {
                    /*display: none;*/

                    .favorite-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: -3.5rem;
                        right: -.5rem;
                        text-decoration: none;
                        z-index: 10;
                        background-color: $secondary-color;
                        border-radius: 50%;
                        padding: .5rem;
                        width: 2rem;
                        height: 2rem;
                        border: none;

                        i {
                            font-size: 1rem;
                            color: $primary-color;
                        }
                    }
                }
            }

            .mid-content {
                margin-top: 1rem;
                position: relative;

                h6 {
                    /*margin: 0;
                    padding: 0;*/
                }

                .size-container {
                    display: flex;
                    gap: 2rem;
                    align-content: center;
                    margin-bottom: 1rem;

                    .size-selection {
                        .size-carousel {
                            display: flex;
                            align-items: center;
                            /*border: solid red 1px;*/

                            .carousel-btn {
                                margin-left: .2rem;
                                margin-right: .2rem;
                                text-decoration: none;
                                color: $primary-color;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            .size-list-container {
                                background-color: $secondary-color;
                                overflow: hidden;
                                max-width: calc(5 * 2.1rem);
                            }

                            .size-list {
                                display: flex;
                                transition: transform 0.3s ease;
                                /*border: solid red 1px;*/
                            }

                            .size-btn {
                                min-width: 30px;
                                margin: 2px;
                                padding: 5px;
                                font-size: 0.8rem;
                                background-color: $secondary-color;
                                border: solid gray 1px;
                                color: gray;

                                &:hover {
                                    color: $secondary-color;
                                    background-color: $primary-color;
                                }
                            }

                            .size-btn.selected {
                                color: $secondary-color;
                                background-color: $primary-color;
                            }

                            .carousel-btn.hidden {
                                visibility: hidden;
                                opacity: 0;
                            }
                        }
                    }
                }


                .color-selection {
                    display: flex;
                    /*border: solid red 1px;*/
                    flex-direction: column;
                    align-content: center;
                    gap: .5rem;
                    position: absolute;
                    bottom: -1rem;
                    right: -.5rem;
                    box-shadow: $shadow-full;
                    padding: .5rem;
                    border-radius: 1rem;
                    display: none;


                    .checkmark {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: .6rem;
                        color: $secondary-color;
                        display: none;
                        padding: 0;
                        margin: 0;
                    }

                    .color-btn {
                        border-radius: 50%;
                        border: none;
                        position: relative;
                        cursor: pointer;
                        outline: none;
                        padding: .5rem;
                        /*width: .5rem;
                        height: .5rem;*/
                    }

                    .color-btn.selected {
                        border-color: $secondary-color;
                    }

                    .color-btn.selected .checkmark {
                        display: block;
                        border-color: $secondary-color;
                    }
                }
            }

            .product-description {
                h6 {
                    font-size: 1rem;
                }

                p {
                    font-size: .8rem;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;

                .price {

                    span {
                        font-size: .8rem;
                    }

                    p {
                        font-weight: 700;
                    }
                }

                .add-to-cart {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    text-align: center;

                    .btn-round {
                        &:active, &:focus {
                            background-color: darken($primary-color, 10%);
                            color: $secondary-color;

                            i {
                                color: inherit;
                                background-color: inherit;
                            }
                        }

                        i {
                            padding-right: .5rem;
                            font-size: 1rem;
                            color: inherit;
                            background-color: inherit;
                        }
                    }
                }
            }
        }
    }
}