.error {
    color: red;
}

.rainbow {
    background: linear-gradient(90deg, lightcoral, orange, yellow, lime, cadetblue, mediumpurple, violet);
}

.product-details {
    .container {

        @media(min-width: 992px) {
            display: flex;
            margin-top: 4rem;
        }

        .back-icon {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1.5rem;
                left: 1rem;
                z-index: 10;
                background-color: $primary-color;
                border-radius: 50%;
                padding: .5rem;
                width: 2rem;
                height: 2rem;
                text-decoration: none;

                i {
                    font-size: 1rem;
                    color: $secondary-color;
                }

                &:hover {
                    background-color: $secondary-color;
                    color: $secondary-color;
                    transition: ease-in-out .2s;

                    i {
                        color: $primary-color;
                    }
                }
            }
        }

        .shop-icon {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1.5rem;
                right: 1rem;
                z-index: 10;
                background-color: $primary-color;
                border-radius: 50%;
                padding: .5rem;
                width: 2rem;
                height: 2rem;
                transition: ease-in-out .2s;

                i {
                    font-size: 1rem;
                    color: $secondary-color;
                }

                &:hover {
                    background-color: $secondary-color;

                    i {
                        color: $primary-color;
                    }
                }
            }
        }

        .product-image {
            position: relative;

            @media(min-width: 992px) {
                display: flex;
                width: 45%;
                max-width: 50vw;
                margin-right: 3rem;
            }

            .carousel {
                .carousel-indicators {
                    border: none;

                    li {
                        list-style: none;
                        border-radius: 50%;
                        width: 1rem;
                        height: 1rem;
                        margin-bottom: .2rem;
                        background-color: black;
                    }
                }

                .carousel-inner {
                    width: 100vw;
                    min-height: 300px;
                    max-height: 300px;
                    object-fit: cover;
                    overflow: hidden;
                    margin-left: calc(50% - 50vw);
                    margin-bottom: 1rem;

                    @media(min-width: 992px) {
                        max-width: 450px;
                        min-height: 500px;
                        width: 100%;
                        margin: 0 auto;
                    }

                    @media(min-width: 1200px) {
                        max-width: 500px;
                    }

                    .carousel-item {
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 300px;

                            @media(min-width: 768px) {
                                transform: translateY(-25%);
                                height: 100%;
                                object-fit: cover;
                            }

                            @media(min-width: 992px) {
                                height: 700px;
                                width: 600px;
                                transform: translateY(-5%);
                                transform: translateX(-5%);
                            }
                        }
                    }
                }

                .carousel-control-prev, .carousel-control-next {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    top: 50%;
                    filter: invert(0);


                    @media(min-width: 992px) {
                    }

                    .carousel-control-prev-icon, .carousel-control-next-icon {
                        background-color: none;
                    }
                }

                .carousel-control-prev {
                    @media(min-width: 992px) {
                        left: 5%;
                    }
                }

                .carousel-control-next {
                    @media(min-width: 992px) {
                        right: 5%;
                    }
                }
            }
        }

        .product-detail-content {

            @media(min-width: 992px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
            }

            .header {
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: relative;


                .header-text {

                    h6 {
                        margin-bottom: .2rem;
                        font-weight: 700;

                        @media(min-width: 375px) {
                            font-size: 1.2rem;
                        }

                        @media(min-width: 992px) {
                            font-size: 1.8rem;
                        }
                    }

                    p {
                        color: gray;
                        font-size: .8rem;
                        margin-top: 0;

                        @media(min-width: 992px) {
                            font-size: 1rem;
                        }
                    }

                    .rating {
                        display: flex;
                        align-content: center;
                        align-items: center;

                        .fa-star {
                            font-size: .6rem;
                            color: gold;

                            @media(min-width: 375px) {
                                font-size: .7rem;
                            }

                            @media(min-width: 992px) {
                                font-size: 1rem;
                            }
                        }

                        .review-link {
                            color: $primary-color;
                            text-decoration: none;
                            font-size: .6rem;
                            margin-left: .2rem;

                            &:hover {
                                color: $accent-color;
                            }

                            @media(min-width: 375px) {
                                font-size: .7rem;
                            }

                            @media(min-width: 992px) {
                                font-size: .8rem;
                            }
                        }
                    }
                }

                .counter {
                    display: flex;
                    flex-direction: column;
                    align-items: end;


                    .input-group {
                        overflow: hidden;
                        border-radius: 18px;
                        width: 90%;


                        @media(min-width: 768px) {
                            width: 30%;
                            height: 50%;
                        }

                        @media(min-width: 992px) {
                            width: 40%;
                            height: 40%;
                        }


                        button, input {
                            text-align: center;
                            background-color: lightgray;
                            border: none;
                            color: $primary-color;
                            font-size: .8rem;

                            @media(min-width: 768px) {
                                font-size: 1rem;
                            }
                        }

                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                background-color: black;
                                color: white;
                                transition: ease-in-out .2s;
                            }
                        }

                        input {
                            text-align: center;
                            padding: 0;
                        }
                    }

                    .stock {
                        font-size: .8rem;
                        font-weight: 500;
                        text-align: center;
                    }
                }

                .heart-icon {
                    .favorite-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: -3.5rem;
                        right: -.5rem;
                        transition: ease-in-out .2s;
                        background-color: $primary-color;
                        border-radius: 50%;
                        padding: .5rem;
                        width: 2rem;
                        height: 2rem;
                        border: none;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.9);

                            i {
                                color: black;
                            }
                        }

                        i {
                            color: white;
                            font-size: 1rem;
                        }

                        @media(min-width: 992px) {
                            top: 28rem;
                            left: -7rem;
                        }

                        @media(min-width: 1400px) {
                            top: 28rem;
                            left: -15rem;
                        }
                    }
                }
            }

            .mid-content {
                margin-top: 1rem;
                position: relative;

                h6 {
                    @media(min-width: 375px) {
                        font-size: 1rem;
                    }

                    @media(min-width: 992px) {
                        font-size: 1.2rem;
                    }
                }

                .size-container {
                    display: flex;
                    gap: 2rem;
                    align-content: center;
                    margin-bottom: 1rem;

                    .size-selection {
                        .size-carousel {
                            display: flex;
                            align-items: center;

                            .carousel-btn {
                                margin-left: .2rem;
                                margin-right: .2rem;
                                text-decoration: none;
                                color: $primary-color;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            .size-list-container {
                                background-color: $secondary-color;
                                overflow: hidden;
                                max-width: calc(5 * 2.1rem);
                            }

                            .size-list {
                                display: flex;
                                transition: transform 0.3s ease;
                            }

                            .size-btn {
                                min-width: 30px;
                                margin: 2px;
                                padding: 5px;
                                font-size: 0.8rem;
                                background-color: $secondary-color;
                                border: solid gray 1px;
                                color: gray;

                                &:hover {
                                    color: $secondary-color;
                                    background-color: $primary-color;
                                }

                                @media(min-width: 768px) {
                                    font-size: .9rem;
                                    min-width: 35px;
                                }

                                @media(min-width: 992px) {
                                    font-size: 1rem;
                                }
                            }

                            .size-btn.selected {
                                color: $secondary-color;
                                background-color: $primary-color;
                            }

                            .carousel-btn.hidden {
                                visibility: hidden;
                                opacity: 0;
                            }
                        }
                    }
                }

                .color-selection {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    gap: .5rem;
                    position: absolute;
                    bottom: -1rem;
                    right: -.5rem;
                    box-shadow: $shadow-full;
                    padding: .5rem;
                    border-radius: 1rem;
                    display: none;

                    @media(min-width: 992px) {
                        right: 1rem;
                    }

                    .checkmark {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: .6rem;
                        color: $primary-color;
                        display: none;
                        padding: 0;
                        margin: 0;

                        @media(min-width: 992px) {
                            font-size: 1rem;
                        }
                    }

                    .color-btn {
                        border-radius: 50%;
                        border: none;
                        position: relative;
                        cursor: pointer;
                        outline: none;
                        padding: .5rem;
                        border: solid $primary-color 1px;

                        &.selected {
                            border-color: $secondary-color;
                            border: solid $primary-color 1px;
                        }

                        &.selected .checkmark {
                            display: block;
                            border-color: $secondary-color;
                        }

                        &.black-bg .checkmark {
                            color: white !important;
                        }
                    }
                }
            }

            .product-description {
                h6 {
                    font-size: 1rem;

                    @media(min-width: 992px) {
                        font-size: 1.2rem;
                    }
                }

                p {
                    color: #666666;
                    font-size: .8rem;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;

                @media(min-width: 992px) {
                    display: grid;
                }

                .price {
                    span {
                        font-size: .7rem;
                        color: #AAAAAA;

                        @media(min-width: 992px) {
                            font-size: .8rem;
                        }
                    }

                    p {
                        font-weight: 700;

                        @media(min-width: 375px) {
                            font-size: 1rem;
                        }

                        @media(min-width: 992px) {
                            font-size: 1.2rem;
                        }
                    }
                }

                .add-to-cart {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    text-align: center;

                    .btn-round {
                        &:active, &:focus {
                            background-color: darken($primary-color, 10%);
                            color: $secondary-color;

                            i {
                                color: inherit;
                                background-color: inherit;
                            }
                        }

                        i {
                            padding-right: .5rem;
                            font-size: 1rem;
                            color: inherit;
                            background-color: inherit;
                        }
                    }
                }
            }
        }
    }
}
