

@import './scss/core/_core.scss';
@import './scss/components/_components.scss';
@import './scss/sections/_sections.scss';

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    font-size: 1rem;
}

body {
    font-family: $font-stack;
}