@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  /*  @media (min-width: 992px) {
      grid-template-columns: 1fr auto;
    }*/
}

.flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-inline-block {
  display: inline-block;
}

.padding-sm {
  padding: 8px;
}

.padding-m {
  padding: 16px;
}

.padding-lg {
  padding: 24px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.border-black {
  border: 1px solid black;
}

.border-white {
  border: 1px solid white;
}

.border-grey {
  border: 1px solid grey;
}

.border-radius {
  border-radius: 4px;
}

.border-none {
  border: none;
}

.primary {
  background-color: black;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
}

.accent {
  background-color: grey;
}

a.btn {
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
}
a.btn:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  cursor: pointer;
}

.btn-round {
  padding: 12px 16px;
  border-radius: 100px;
  appearance: none;
  border: none;
}
.btn-round:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  cursor: pointer;
}
.btn-round i {
  color: black;
  background-color: white;
  font-size: 10px;
  margin-left: 5px;
  margin-right: -5px;
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 5px;
  border-radius: 5px;
}

.input-group label {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
}
.input-group input {
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1rem;
  padding: 12px 0 3px 0;
}
.input-group input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  font-size: 1rem;
}

body {
  font-family: "Outfit", sans-serif;
}