@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  /*  @media (min-width: 992px) {
      grid-template-columns: 1fr auto;
    }*/
}

.flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-inline-block {
  display: inline-block;
}

.padding-sm {
  padding: 8px;
}

.padding-m {
  padding: 16px;
}

.padding-lg {
  padding: 24px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.border-black {
  border: 1px solid black;
}

.border-white {
  border: 1px solid white;
}

.border-grey {
  border: 1px solid grey;
}

.border-radius {
  border-radius: 4px;
}

.border-none {
  border: none;
}

.primary {
  background-color: black;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
}

.accent {
  background-color: grey;
}

a.btn {
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
}
a.btn:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  cursor: pointer;
}

.btn-round {
  padding: 12px 16px;
  border-radius: 100px;
  appearance: none;
  border: none;
}
.btn-round:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  cursor: pointer;
}
.btn-round i {
  color: black;
  background-color: white;
  font-size: 10px;
  margin-left: 5px;
  margin-right: -5px;
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 5px;
  border-radius: 5px;
}

.input-group label {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
}
.input-group input {
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1rem;
  padding: 12px 0 3px 0;
}
.input-group input:focus {
  outline: none;
}


.product-category {
  padding: 2rem 0;
  background-color: #fff;
}
.product-category .container {
  padding: 1rem;
}
.product-category .container h3 {
  font-size: 2rem;
  text-align: start;
  margin-bottom: 1.5rem;
}
.product-category .container .grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.product-category .container .grid a {
  text-decoration: none;
}
.product-category .container .grid a .product-card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.product-category .container .grid a .product-card:hover {
  transform: translateY(-5px);
}
.product-category .container .grid a .product-card_img {
  position: relative;
  width: 100%;
  padding-top: 110%;
  overflow: hidden;
  background-color: #eee;
}
.product-category .container .grid a .product-card_img .img-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.product-category .container .grid a .product-card_img .img-card:hover {
  transform: scale(1.05);
}
.product-category .container .grid a .product-card_img .btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(7, 7, 7, 0.8);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-category .container .grid a .product-card_img .btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.product-category .container .grid a .product-card_img .btn:hover .fa-heart {
  color: black;
}
.product-category .container .grid a .product-card_img .btn .fa-heart {
  color: white;
  font-size: 1.2rem;
  margin: 0;
}
.product-category .container .grid a .product-card_body {
  padding-top: 1rem;
  text-align: center;
}
.product-category .container .grid a .product-card_body h5,
.product-category .container .grid a .product-card_body h6 {
  margin-bottom: 0.1rem;
}
.product-category .container .grid a .product-card_body h5 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
}
.product-category .container .grid a .product-card_body h6 {
  font-size: 1rem;
  color: #666;
  font-weight: 400;
}

.product-details {
  position: relative;
}
.product-details .container .back-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  left: 0;
  z-index: 10;
  background-color: black;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
}
.product-details .container .back-icon a i {
  font-size: 1rem;
  color: white;
}
.product-details .container .shop-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 0rem;
  z-index: 10;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.product-details .container .shop-icon a i {
  font-size: 1rem;
  color: black;
}
.product-details .container .heart-icon {
  /*display: none;*/
}
.product-details .container .heart-icon .favorite-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 18.8rem;
  text-decoration: none;
  right: 0rem;
  z-index: 10;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
}
.product-details .container .heart-icon .favorite-btn i {
  font-size: 1rem;
  color: black;
}
.product-details .container .product-image {
  /*border: solid green 1px;*/
  width: 100vw;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
  margin-bottom: 1rem;
}
.product-details .container .product-image .carousel .carousel-indicators {
  border: none;
}
.product-details .container .product-image .carousel .carousel-indicators ul {
  /*list-style: none;*/
}
.product-details .container .product-image .carousel .carousel-indicators li {
  /*border-radius: 50%;*/
  list-style: none;
}
.product-details .container .product-image .carousel .carousel-inner {
  /*display: flex;*/
  /*justify-content: center;*/
}
.product-details .container .product-image .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-color: gray;
}
.product-details .container .product-image .carousel .carousel-control-next .carousel-control-next-icon {
  background-color: gray;
}
.product-details .container .product-detail-content {
  /*display: flex;*/
  /*border: solid red 1px;*/
  /*            align-content: center;
              justify-content: center;*/
}
.product-details .container .product-detail-content .header {
  display: flex;
  /*border: solid red 1px;*/
}
.product-details .container .product-detail-content .header .header-text h1 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.product-details .container .product-detail-content .header .header-text p {
  color: gray;
  font-size: 0.6rem;
  margin-top: 0;
}
.product-details .container .product-detail-content .header .header-text .rating {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 0.8rem;
  /*border: solid red 1px;*/
}
.product-details .container .product-detail-content .header .header-text .rating .fa-star {
  font-size: 0.6rem;
  color: gold;
}
.product-details .container .product-detail-content .header .header-text .rating .review-link {
  color: black;
  text-decoration: none;
  font-size: 0.6rem;
  margin-left: 0.2rem;
}
.product-details .container .product-detail-content .header .header-text .rating .review-link:hover {
  color: grey;
}
.product-details .container .product-detail-content .header .counter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*justify-content: center;*/
}
.product-details .container .product-detail-content .header .counter .input-group {
  overflow: hidden;
  border-radius: 18px;
  width: 60%;
}
.product-details .container .product-detail-content .header .counter .input-group button, .product-details .container .product-detail-content .header .counter .input-group input {
  text-align: center;
  background-color: lightgray;
  border: none;
  color: black;
  font-size: 0.8rem;
}
.product-details .container .product-detail-content .header .counter .input-group button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details .container .product-detail-content .header .counter .input-group input {
  text-align: center;
  padding: 0;
}
.product-details .container .product-detail-content .header .counter .stock {
  font-size: 0.8rem;
  font-weight: 500;
}
.product-details .container .product-detail-content .mid-content {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  align-content: center;
  position: relative;
  margin-bottom: 1rem;
}
.product-details .container .product-detail-content .mid-content .size-selection .btn-round {
  background-color: white;
  border: solid black 1px;
  font-size: 0.6rem;
  padding: 0;
  padding: 0.6rem 0.8rem;
}
.product-details .container .product-detail-content .mid-content .size-selection .btn-round.selected {
  background-color: black;
  color: white;
}
.product-details .container .product-detail-content .mid-content .color-selection {
  display: flex;
  /*border: solid red 1px;*/
  flex-direction: column;
  align-content: center;
  gap: 0.5rem;
  position: absolute;
  bottom: -1rem;
  right: 0.8rem;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  padding: 0.5rem;
  border-radius: 1rem;
}
.product-details .container .product-detail-content .mid-content .color-selection .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6rem;
  color: white;
  display: none;
  padding: 0;
  margin: 0;
}
.product-details .container .product-detail-content .mid-content .color-selection .color-btn {
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  /*width: .5rem;
  height: .5rem;*/
}
.product-details .container .product-detail-content .mid-content .color-selection .color-btn.selected {
  border-color: black;
}
.product-details .container .product-detail-content .mid-content .color-selection .color-btn.selected .checkmark {
  display: block;
}
.product-details .container .product-detail-content .product-description h3 {
  font-size: 1rem;
}
.product-details .container .product-detail-content .product-description p {
  font-size: 0.6rem;
}
.product-details .container .product-detail-content .bottom {
  display: flex;
  justify-content: space-between;
}
.product-details .container .product-detail-content .bottom .price span {
  font-size: 0.6rem;
}
.product-details .container .product-detail-content .bottom .price p {
  font-weight: 700;
}
.product-details .container .product-detail-content .bottom .add-to-cart {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.product-details .container .product-detail-content .bottom .add-to-cart .btn-round i {
  padding-right: 0.5rem;
  font-size: 1rem;
  background: black;
  color: white;
}

.category-selection .container {
  display: grid;
}
.category-selection .btn-arrow {
  width: 2rem;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: black;
}
.category-selection .btn-arrow i {
  font-size: 15px;
  color: white;
}
.category-selection .search-bar-container {
  display: flex;
  place-self: center;
  width: 100%;
  margin-top: 1rem;
}
.category-selection .search-bar-container input, .category-selection .search-bar-container i {
  background-color: #F3F4F5;
  border: none;
}
.category-selection .search-bar-container i {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 1rem 0 1rem 1.5rem;
}
.category-selection .search-bar-container input {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1rem 1rem 1rem 1rem;
  font-family: "Outfit", sans-serif;
  width: 100%;
}
.category-selection .grid {
  display: grid;
  justify-content: space-between;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  width: 100%;
  place-self: center;
  place-items: center;
}
.category-selection .category-card {
  height: 10rem;
  width: 10rem;
  background-color: #CCCCCC;
  position: relative;
  border-radius: 15px;
}
.category-selection .card-information {
  background-color: #F3F4F5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  border-radius: 15px;
  text-align: center;
}
.category-selection .card-information p, .category-selection .card-information h4 {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
.category-selection .card-information p {
  font-size: 11px;
}
.category-selection .card-information h4 {
  font-size: 16px;
  padding: 0.2rem 0;


#shopping-cart .container {
  padding: 20px;
}
#shopping-cart .container .cart-item-object {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}
#shopping-cart .container .cart-item-object .cart-item-object-specifications {
  flex: 1;
}
#shopping-cart .container .cart-item-object .cart-item-object-specifications .cart-item-price {
  padding-top: 20px;
}
#shopping-cart .container .cart-item-object .cart-product-quantity {
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 15px;
  padding: 15px;
  background-color: #F3F3F3;
  margin-top: auto;
}
#shopping-cart .container .cart-item-object .cart-product-quantity button {
  border: none;
  background-color: none;
  font-size: 20px;
}
#shopping-cart .container .cart-total-price {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #F3F3F3;
  border-radius: 15px;
  padding: 20px;
}
#shopping-cart .container .cart-total-price .cart-specified-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
#shopping-cart .container .cart-total-price .cart-specified-price .cart-bag-total {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
#shopping-cart .container .cart-promo-code {
  margin-bottom: 20px;
  position: relative;
}
#shopping-cart .container .cart-promo-code input {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #F3F3F3;
  padding: 15px;
}
#shopping-cart .container .cart-promo-code .btn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  position: absolute;
  padding: 8px 15px;
  right: 10px;
  top: 7px;
}
#shopping-cart .container .proceed-to-checkout .btn {
  color: white;
  background-color: black;
  display: block;
  width: 100%;
  text-align: center;

:root {
  --danger: rgb(231, 99, 37);
}

button {
  font-weight: bold;
  color: white;
  background-color: black;
  transition: all 0.2s;
}
button:hover, button:active, button:focus {
  background-color: grey;
}

input {
  width: 100%;
}

input[type=checkbox] {
  width: fit-content;
}

.field-validation-error {
  color: var(--danger);
}

form .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form .input-group input {
  font-family: "Outfit", sans-serif;
  padding: 0.5rem 0;
  border-width: 1.5px;
  transition: all 0.2s;
}
form .input-group input:hover {
  border-color: black;
}
form .input-group textarea {
  font-family: "Outfit", sans-serif;
  border: 1.5px solid grey;
  font-size: 1rem;
  transition: all 0.2s;
  width: 100%;
  height: 150px;
  outline: none;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  background-color: transparent;
}
form .input-group textarea:hover {
  border-color: black;
}

.btn-disabled {
  background-color: grey !important;
  color: white !important;
}

.updateSuccessBox {
  position: fixed;
  top: 3.8rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1.5rem;
  background-color: lightgreen;
  border-radius: 6px;
  text-align: center;
  color: black;
  animation: alertFadeout 1s forwards;
  animation-delay: 5s;
}

.updateErrorBox {
  position: fixed;
  top: 3.8rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1.5rem;
  background-color: #EEAAAA;
  border-radius: 6px;
  text-align: center;
  color: black;
  animation: alertFadeout 1s forwards;
  animation-delay: 5s;
}

@keyframes alertFadeout {
  0% {
    opacity: 1;
    display: block;
  }
  90% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#contact-us-page main #contact-us-section {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#contact-us-page main #contact-us-section h1 {
  text-align: center;
}
#contact-us-page main #contact-us-section .faq-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
#contact-us-page main #contact-us-section .faq-content #faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact-us-page main #contact-us-section .faq-content #faq-container .faq-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
#contact-us-page main #contact-us-section .contact-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
#contact-us-page main #contact-us-section form {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact-us-page main #contact-us-section form .service-group {
  position: relative;
}
#contact-us-page main #contact-us-section form .service-group .dropbtn {
  display: block;
  margin-top: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: inherit;
  border-radius: 8px;
  border: solid 1.5px gray;
  appearance: none;
}
#contact-us-page main #contact-us-section form .message-group textarea {
  width: 100%;
  height: 150px;
}
#contact-us-page main #contact-us-section form .checkbox-group {
  display: flex;
  gap: 1rem;

}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

html, body {
  height: 100%;
  font-size: 1rem;
}
