<section id="verification">
    <div class="container">
        <div class="title">
            <h2>Verify your account</h2>
            <p>Use the coded provided in your email</p>
        </div>
        <div class="input-group">
            <form action="">
                <input type="text">
                <button class="btn-round">Verify your account</button>
            </form>
        </div>
    </div>
</section>

